<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <style>
        .toggleClick {
            background-color: blue;
        }
    </style>
    <script>
        $('.toggle').click(function () {
            $(this).toggleClass('toggleClick');
        });
    </script>
</head>

<body>
    <div class="form-row justify-content-between">
        <input type="button" class="toggle" value="10" style="width: 40px; height: 40px;margin-left: 4rem;margin-top: 4rem">
        <input type="text" class="hiddenInput" style="display:none;"> </div>
</body>

</html>